.border {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
}

.z-2 {
  position: relative;
  left: 25%;
  top: 50%;
  transform: translate(0, -50%);
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.cart-shopping-process {
  border: 1px #3da9fc solid;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}
.null-cart span {
  font-size: 20px;
}

/* Cart table */
.cart-list {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
}

.cart-list table tbody td {
  width: 20%;
  vertical-align: middle;
}
